body {
  padding: 00px;
  margin: 00px;
  background-color: rgb(31, 30, 30);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

input[type="text"] {
  border: 00px;
  outline: none;
  width: 50%;
  height: 5vh;
  font-size: 20px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.btn {
  background-color: rgb(225, 62, 26);
  border: 00px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  outline: none;
  width: 10%;
  height: 5vh;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.displaybox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

table {
  width: 60%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  box-shadow: 4px 4px 1px #2b2a2a;
  border-radius: 4px;
}

.fa-trash {
  color: rgb(225, 62, 26);
  cursor: pointer;
}

.fa-pen-to-square {
  color: rgb(52, 82, 22);
  cursor: pointer;
}

::placeholder {
  color: red;
}

h1 {
  color: rgb(225, 62, 26);
  text-align: center;
  font-size: 42px;
  margin-top: 10vh;
  position: relative;
}

h1::after {
  position: absolute;
  content: "";
  height: 2px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 11%;
  bottom: -4px;
  background: green;
}
